/* CSS StyleSheet */
body {
	font-family: "Segoe UI", Tahoma !important;
	font-size: 12px;
	background: rgb(243,243,243);
	overflow:hidden !important;
}
h1 {
	font-family:"Tahoma";e4e4e4
	font-weight:bold;
	font-size:20px;
	color:#5f5e5e;
	border-bottom:#979797 solid 1px;
	background:url(../../images/module-h1.png) no-repeat;
	padding:16px 5px 12px 24px;
}
h4 {
	text-shadow: 1px 1px 2px #777;
	font-size:350%;
	margin:10px 10px 0 8px;
}

h5 {
	font-size:150%;
	margin:0 10px 10px 10px;
}

a { font-family: "Segoe UI", Tahoma; text-decoration:none; }
a:hover { text-decoration:underline; }

mainstore, div#header,div#main,footer,panel { display:block; }
.store-float { position:relative; z-index:1; }
#store-filter {
	width:550px;
	height:55px;
	margin-top:-3px;
	padding:3px;
	/*background-color:#e8e8e8;*/
}
#mainstore#panel {
	z-index:99;	
}
div#header, div#main { position:fixed; }
div#header { top:0px; }
div#main { top:220px; height:5px;}
footer { padding:15px 15px 25px 5px; font:11px Georgia; color:#807f7f;	cursor:default; }
/* Preload */
pretext {
	position:relative;
	font-weight:bold;
	font-size:11px;
	padding-left:2px;
	top:-17px;
	color:#333;
	height:25px;
}
bar {
	margin-top:-12px;
	display:block;
	background:url(../../images/preload-bar-normal.png) repeat-x;
	height:7px;
	width:0%;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
button {
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
/* --------------------------------------- SITE CSS --------------------------------------- */
.header-image, div#header {
	background:url(../../images/site-header.jpg) top center;
	height:220px;
	z-index:3;
}
.header-footer, div#main {
	background:url(../../images/main-above-line.png) top repeat-x;
	z-index:3;
}

/* Store Anime */
zone, anime {
	display:block;
	overflow:none;
	cursor:default;
}
anime-list {
	margin-top:-1px;
	border-left:#e8e8e8 solid 6px;
	display:inline-block;
	width:0px;
}
input#findanime {
	outline:none;
	border:none;
	width:278px;
	background-color:transparent;
	color:#333;
	font-family: "Segoe UI", Tahoma !important;
	font-weight:bold;
}
anime.find {
	display:inline-block;
	background:url(../../images/input-find.png) no-repeat;
	width:284px;
	height:24px;
	margin-left:15px;
	margin-bottom:2px;
	padding:3px 5px 4px 5px;
}
anime.filter {
	position:relative;
	display:inline-block;
	background:url(../../images/input-filter.png) no-repeat;
	padding-left:1px;
	width:167px;
	height:32px;
	cursor:pointer;
}
anime.filter li {
	display:inline-block;
	font-size:14px;
	font-weight:bold;
	padding:8px 0 0 10px;
	width:152px;
	height:18px;
	color:#333;
}
li#anime {
	width:380px;
	height:41px;
	display:block;
	overflow:hidden;
	padding:10px 5px 11px 12px;
	margin:-1px 0 0 0;
	background:transparent url(../../images/list-hover.png) -20px 0px no-repeat !important;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
	position:relative;
	opacity:0.8;
    z-index:0;
}
li#anime:hover {
	background:transparent url(../../images/list-hover.png) 0px 0px no-repeat !important;
	padding-left:25px;
	cursor:pointer;
   	z-index:2;
}
li#anime.selected {
	margin:-1px 0 0 -18px !important;
	padding-left:25px !important;
	border-right:#93be7c solid 0px !important;
	background:transparent url(../../images/list-active.png) 0px 0px !important;
   	z-index:3;

}
anime.icon {
	position:absolute;
	background:url(../../images/anime-type.png) no-repeat;
}
anime.bluray, anime.drop, anime.raw {
	z-index:5;
	width:76px;
	height:31px;
	margin-top:-32px;
	margin-left:-15px;
}
anime.bluray {
	background-position:0px -37px;
}
anime.drop {
	background-position:-76px -37px;
}
anime.raw {
	background-position:-152px -37px;
}



anime.title,anime.ongoing {
	font-family:"rsuregular";
	font-weight:bold;
}

anime.title {
	font-size:24px;
	color:#333;
	cursor:pointer;
}
anime.ongoing {	
	font-size:14px;
	color:#8e8e8e;
	cursor:pointer;	
}
anime.list li {
	font-family:"Segoe UI";
	font-weight:bold;
	font-size:12px;
	display:block;
	padding:3px 3px 3px 10px;
	cursor:pointer;
	color:#000;
}
anime.list li:hover {
	color:#000;
	background:#e3e3e3;
}
anime.list li.selected {
	color:#FFF;
	background:#d66813;
}
anime.list {
	background:url(../../images/list-repeat.png) -6px 0px repeat-y;
	border-left:#d66813 solid 6px;
	margin:0 0 1px -6px;
	position:relative;
	display:none;
	overflow:hidden;
	text-wrap:normal;
	width:100%;
	z-index:4;
}
anime.snapshot {
	background-color:#FFF;
	background-position:center top;
	background-repeat:no-repeat;
	border-top:#e8e8e8 solid 6px;
	border-left:#e8e8e8 solid 6px;
	border-bottom:#e8e8e8 solid 6px;
	height:310px;
	width:550px;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
anime.detail {
	font-family:"Tahoma";
}
anime.season {
	padding:15px 0 1px 5px;
	color:#c4c4c4;
	font-weight:bold;
	padding-right:10px;
}
input.enname {
	font-family:"league_gothic";
	border:none;
	outline:none;
	width:100%;
	padding:0 0 1px 5px;
	font-size:30px;
	font-weight:bold;
	background:url(../../images/detail-line.png) 6px bottom no-repeat;
}
anime.thname {
	font-family:"rsuregular";
	padding:2px 0 3px 7px;
	font-size:16px;
	font-weight:bold;
	height:20px;
}
anime.description {	
	margin:0px 0 0 30px;
}
anime.type, anime.chapter, anime.video, anime.audio, anime.subtitle, anime.size, anime.fansub, anime.tfansub {
	font-size:11px;
}
anime.type {
	font-weight:bold;
}
anime.size {
	padding:15px 0 15px 0;
}
anime.fansub {
	padding-left:10px;
}
anime.chapter {
	padding-left:10px;
}
anime.chapter, anime.video, anime.audio, anime.subtitle {
	padding-top:2px;	
}


state#status {
    cursor:pointer !important;
    display:inline-table;
    margin:5px 15px 15px 15px;
    padding:3px;
    width:250px;
    border:#8f3030 solid 2px;
    background:#be4a4a;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    color:#ffffff;
}

#new {  
    opacity:0;
    position:absolute;
    width:20px;
    height:20px;
    border:#333 solid 2px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    z-index:0;
    border-radius: 999px;
    -o-border-radius: 999px;
    -ms-border-radius: 999px;
    -moz-border-radius: 999px;
    -webkit-border-radius: 999px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-opacity:0;
        -webkit-transform: scale(0.2);
    }
    20% {
        -webkit-opacity:0.8;
    }
    80% {  
        -webkit-opacity:0.8;
    }
    100% {
        -webkit-opacity:0;
        -webkit-transform: scale(1.2);
    }
}

/* PRELOAD MESSAGE ELEMENT */
preload {
    display:inline-block;
    vertical-align:top;
	z-index:99;
}

preload#message {
    padding:1px 3px 2px 3px;
    color:#333;
    font-family:'Segoe UI';
    font-size:14px;
    font-weight:bold;
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
preload#circle1, preload#circle2 {
    margin-top:-1px;
    width:14px;
    height:14px;
    border:#333 solid 2px;
}
preload#circle2 {
    margin-left:-22px;
}
.circle {
    opacity:0;  
    -o-opacity:0;  
    -ms-opacity:0;  
    -moz-opacity:0;  
    -webkit-opacity:0;    
    border-radius: 999px;
    -o-border-radius: 999px;
    -ms-border-radius: 999px;
    -moz-border-radius: 999px;
    -webkit-border-radius: 999px;
}

preload#circle1 {
    animation-name: circle_scale;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-name: circle_scaless;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
    -o-animation-name: circle_scaless;
    -o-animation-duration: 1.2s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: ease-out;
    -o-animation-fill-mode: forwards;
}
preload#circle2 {
    animation-name: circle_scale;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
    -webkit-animation-name: circle_scaless;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.6s;
    -o-animation-name: circle_scaless;
    -o-animation-duration: 1.2s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: ease-out;
    -o-animation-fill-mode: forwards;
    -o-animation-delay: 0.6s;
}
/* Chrome */
@-webkit-keyframes circle_scaless {
    0% {
        -webkit-opacity:0;
        -webkit-transform: scale(0.2);
    }
    20% {
        -webkit-opacity:0.8;
    }
    80% {  
        -webkit-opacity:0.8;
    }
    100% {
        -webkit-opacity:0;
        -webkit-transform: scale(1.2);
    }
}
/* IE, FireFox */
@keyframes circle_scale {
    0% {
        opacity:0;
        transform: scale(0.2);
    }
    20% {
        opacity:0.8;
    }
    80% {  
        opacity:0.8;
    }
    100% {
        opacity:0;
        transform: scale(1.2);
    }
}
@-o-keyframes mscircle_scale {
    0% {
        -o-opacity:0;
        -o-transform: scale(0.2);
    }
    20% {
        -o-opacity:0.8;
    }
    80% {  
        -o-opacity:0.8;
    }
    100% {
        -o-opacity:0;

        -o-transform: scale(1.4);
    }
}
@-moz-keyframes mscircle_scale {
    0% {
        -moz-opacity:0;
        -moz-transform: scale(0.2);
    }
    20% {
        -moz-opacity:0.8;
    }
    80% {  
        -moz-opacity:0.8;
    }
    100% {
        -moz-opacity:0;
        -moz-transform: scale(1.4);
    }
}
